extends layout

block content
	body.bg_fundo2
		div(style="text-align: center; margin-top: 20px;").sobre
			img(src="images/circlesLogo.png", alt="" width="80" style="margin-bottom: 20px;")
			p(style="font-size: 26px; margin-bottom: 0;") Developer Circles
			p(style="font-size: 18px; text-align: center; margin-top: 0;") Santa Rita do Sapucaí
			br
			p(style="font-size: 26px; border-bottom: 2px solid #fff") Membros
			.row 
				.col.s12.m8.offset-m2.l6.offset-l3(style="color: #000;")
					.card-panel.grey.lighten-5.z-depth-1
						.row.valign-wrapper(style="text-align: center; margin-bottom: 0")
							h2(style="font-size: 18px; width: 100%; margin-top: 0;") Ítalo Moura
							img.responsive-img(src='../images/italo.jpg', alt='Desenvolvedor' width="150" height="150" style="margin: 0 auto;")
							div(style="margin-top: 10px; width: 100%; line-height: 20px; font-size: 16px;")
								p Desenvolvedor
								p Engenharia da Computação - INATEl
							.redeSocial
								a(href="https://www.facebook.com/itmoura12", target="blank")
									img(src='../images/facebook.png' width="50")
								a(href="https://www.instagram.com/it_moura", target="blank")
									img(src='../images/insta.png' width="35")
			.row 
				.col.s12.m8.offset-m2.l6.offset-l3(style="color: #000;")
					.card-panel.grey.lighten-5.z-depth-1
						.row.valign-wrapper(style="text-align: center; margin-bottom: 0")
							h2(style="font-size: 18px; width: 100%; margin-top: 0;") Luiza M. de Pádua
							img.responsive-img(src='../images/luiza.jpeg', alt='' width="150" height="150" style="margin: 0 auto;")
							div(style="margin-top: 10px; width: 100%; line-height: 20px; font-size: 16px;")
								//- p Programador 
								p Engenharia da Computação - INATEl
							.redeSocial
								a(href="https://www.facebook.com/luiza.monroe", target="blank")
									img(src='../images/facebook.png' width="50")
								a(href="https://www.instagram.com/lumonroe", target="blank")
									img(src='../images/insta.png' width="35")
			.row 
				.col.s12.m8.offset-m2.l6.offset-l3(style="color: #000;")
					.card-panel.grey.lighten-5.z-depth-1
						.row.valign-wrapper(style="text-align: center; margin-bottom: 0")
							h2(style="font-size: 18px; width: 100%; margin-top: 0;") Ensley Ribeiro
							img.responsive-img(src='../images/ensley.jpeg', alt='' width="150" height="150" style="margin: 0 auto;")
							div(style="margin-top: 10px; width: 100%; line-height: 20px; font-size: 16px;")
								p Lead do DevC/Programador 
								p Engenharia da Computação - INATEl
							.redeSocial
								a(href="https://www.facebook.com/ensley.ribeiro", target="blank")
									img(src='../images/facebook.png' width="50")
								//- a(href="https://www.instagram.com/", target="blank")
								//- 	img(src='../images/insta.png' width="35")
			.row 
				.col.s12.m8.offset-m2.l6.offset-l3(style="color: #000;")
					.card-panel.grey.lighten-5.z-depth-1
						.row.valign-wrapper(style="text-align: center; margin-bottom: 0")
							h2(style="font-size: 18px; width: 100%; margin-top: 0;") Caroline S. Fonseca
							img.responsive-img(src='../images/carol.jpeg', alt='' width="150" height="150" style="margin: 0 auto;")
							div(style="margin-top: 10px; width: 100%; line-height: 20px; font-size: 16px;")
								p Fotógrafa 
								p Engenharia da Computação - INATEl
							.redeSocial
								a(href="https://www.facebook.com/caroline.santosfonseca", target="blank")
									img(src='../images/facebook.png' width="50")
								a(href="https://www.instagram.com/carol_fonseca", target="blank")
									img(src='../images/insta.png' width="35")
			.row 
				.col.s12.m8.offset-m2.l6.offset-l3(style="color: #000;")
					.card-panel.grey.lighten-5.z-depth-1
						.row.valign-wrapper(style="text-align: center; margin-bottom: 0")
							h2(style="font-size: 18px; width: 100%; margin-top: 0;") Luana Gribel
							img.responsive-img(src='../images/luana.jpeg', alt='Criação' width="150" height="150" style="margin: 0 auto;")
							div(style="margin-top: 10px; width: 100%; line-height: 20px; font-size: 16px;")
								p Criação 
								p Engenharia da Computação - INATEl
							.redeSocial
								a(href="https://www.facebook.com/lngrblt", target="blank")
									img(src='../images/facebook.png' width="50")
								a(href="https://www.instagram.com/luanagribel", target="blank")
									img(src='../images/insta.png' width="35")
			.row 
				.col.s12.m8.offset-m2.l6.offset-l3(style="color: #000;")
					.card-panel.grey.lighten-5.z-depth-1
						.row.valign-wrapper(style="text-align: center; margin-bottom: 0")
							h2(style="font-size: 18px; width: 100%; margin-top: 0;") Dara Kaline
							img.responsive-img(src='../images/dara.jpeg', alt='' width="150" height="150" style="margin: 0 auto;")
							div(style="margin-top: 10px; width: 100%; line-height: 20px; font-size: 16px;")
								p Dev 
								p Engenharia da Computação - INATEl
							.redeSocial
								a(href="https://www.facebook.com/darakaline", target="blank")
									img(src='../images/facebook.png' width="50")
								a(href="https://www.instagram.com/kalinedara", target="blank")
									img(src='../images/insta.png' width="35")
			.row 
				.col.s12.m8.offset-m2.l6.offset-l3(style="color: #000;")
					.card-panel.grey.lighten-5.z-depth-1
						.row.valign-wrapper(style="text-align: center; margin-bottom: 0")
							h2(style="font-size: 18px; width: 100%; margin-top: 0;") João Pedro
							img.responsive-img(src='../images/joao.jpeg', alt='' width="150" height="150" style="margin: 0 auto;")
							div(style="margin-top: 10px; width: 100%; line-height: 20px; font-size: 16px;")
								p Programador
								p Engenharia da Computação - INATEl
							.redeSocial
								a(href="https://www.facebook.com/joaopedro.desouza.94", target="blank")
									img(src='../images/facebook.png' width="50")
								a(href="https://www.instagram.com/jpg_souza", target="blank")
									img(src='../images/insta.png' width="35")
			.row 
				.col.s12.m8.offset-m2.l6.offset-l3(style="color: #000;")
					.card-panel.grey.lighten-5.z-depth-1
						.row.valign-wrapper(style="text-align: center; margin-bottom: 0")
							h2(style="font-size: 18px; width: 100%; margin-top: 0;") Ruan Souza
							img.responsive-img(src='../images/ruan.jpg', alt='' width="150" height="150" style="margin: 0 auto;")
							div(style="margin-top: 10px; width: 100%; line-height: 20px; font-size: 16px;")
								p Criação 
								p Engenharia da Computação - INATEl
							.redeSocial
								a(href="https://www.facebook.com/ruanps", target="blank")
									img(src='../images/facebook.png' width="50")
								a(href="https://www.instagram.com/_ruanps_", target="blank")
									img(src='../images/insta.png' width="35")
			.row 
				.col.s12.m8.offset-m2.l6.offset-l3(style="color: #000;")
					.card-panel.grey.lighten-5.z-depth-1
						.row.valign-wrapper(style="text-align: center; margin-bottom: 0")
							h2(style="font-size: 18px; width: 100%; margin-top: 0;") Yara Mendes
							img.responsive-img(src='../images/yara.jpeg', alt='' width="150" height="150" style="margin: 0 auto;")
							div(style="margin-top: 10px; width: 100%; line-height: 20px; font-size: 16px;")
								//- p Programador 
								p Engenharia da Computação - INATEl
							.redeSocial
								a(href="https://www.facebook.com/yaracarolinemendes", target="blank")
									img(src='../images/facebook.png' width="50")
								a(href="https://www.instagram.com/mendesyara", target="blank")
									img(src='../images/insta.png' width="35")
			.row 
				.col.s12.m8.offset-m2.l6.offset-l3(style="color: #000;")
					.card-panel.grey.lighten-5.z-depth-1
						.row.valign-wrapper(style="text-align: center; margin-bottom: 0")
							h2(style="font-size: 18px; width: 100%; margin-top: 0;") Lígia M. de Carvalho
							img.responsive-img(src='../images/ligia.jpeg', alt='' width="150" height="150" style="margin: 0 auto;")
							div(style="margin-top: 10px; width: 100%; line-height: 20px; font-size: 16px;")
								//- p Programador 
								p Engenharia de controle e automação - INATEL
							.redeSocial
								a(href="https://www.facebook.com/ligia.carvalho.98", target="blank")
									img(src='../images/facebook.png' width="50")
								a(href="https://www.instagram.com/carvligia", target="blank")
									img(src='../images/insta.png' width="35")
			.row 
				.col.s12.m8.offset-m2.l6.offset-l3(style="color: #000;")
					.card-panel.grey.lighten-5.z-depth-1
						.row.valign-wrapper(style="text-align: center; margin-bottom: 0")
							h2(style="font-size: 18px; width: 100%; margin-top: 0;") Thaís Escobar
							img.responsive-img(src='../images/thais.jpg', alt='' width="150" height="150" style="margin: 0 auto;")
							div(style="margin-top: 10px; width: 100%; line-height: 20px; font-size: 16px;")
								//- p Programador 
								p Engenharia da Computação - INATEl
							.redeSocial
								a(href="https://www.facebook.com/thais.escobar.1", target="blank")
									img(src='../images/facebook.png' width="50")
								a(href="https://www.instagram.com/tha_escobar", target="blank")
									img(src='../images/insta.png' width="35")
			.row 
				.col.s12.m8.offset-m2.l6.offset-l3(style="color: #000;")
					.card-panel.grey.lighten-5.z-depth-1
						.row.valign-wrapper(style="text-align: center; margin-bottom: 0")
							h2(style="font-size: 18px; width: 100%; margin-top: 0;") Leandro Pereira
							img.responsive-img(src='../images/leandro.jpeg', alt='' width="150" height="150" style="margin: 0 auto;")
							div(style="margin-top: 10px; width: 100%; line-height: 20px; font-size: 16px;")
								//-p Programador 
								p Engenharia da Computação - INATEl
							.redeSocial
								a(href="https://www.facebook.com/leandro.pereira.0211", target="blank")
									img(src='../images/facebook.png' width="50")
								a(href="https://www.instagram.com/pa_leandroap", target="blank")
									img(src='../images/insta.png' width="35")
			.row 
				.col.s12.m8.offset-m2.l6.offset-l3(style="color: #000;")
					.card-panel.grey.lighten-5.z-depth-1
						.row.valign-wrapper(style="text-align: center; margin-bottom: 0")
							h2(style="font-size: 18px; width: 100%; margin-top: 0;") Nicole Escobar
							img.responsive-img(src='../images/nicole.jpg', alt='' width="150" height="150" style="margin: 0 auto;")
							div(style="margin-top: 10px; width: 100%; line-height: 20px; font-size: 16px;")
								p Criação
								p Engenharia da Computação - INATEl
							.redeSocial
								a(href="https://www.facebook.com/nicole.escobar.7", target="blank")
									img(src='../images/facebook.png' width="50")
								a(href="https://www.instagram.com/nic_escobar", target="blank")
									img(src='../images/insta.png' width="35")
			.row 
				.col.s12.m8.offset-m2.l6.offset-l3(style="color: #000;")
					.card-panel.grey.lighten-5.z-depth-1
						.row.valign-wrapper(style="text-align: center; margin-bottom: 0")
							h2(style="font-size: 18px; width: 100%; margin-top: 0;") Rubens Cividati
							img.responsive-img(src='../images/rubens.jpg', alt='' width="150" height="150" style="margin: 0 auto;")
							div(style="margin-top: 10px; width: 100%; line-height: 20px; font-size: 16px;")
								//- p Programador 
								p Engenharia da Computação - INATEl
							.redeSocial
								a(href="https://www.facebook.com/rubens.cividati", target="blank")
									img(src='../images/facebook.png' width="50")
								a(href="https://www.instagram.com/rubenscividati", target="blank")
									img(src='../images/insta.png' width="35")
			//- .row 
			//- 	.col.s12.m8.offset-m2.l6.offset-l3(style="color: #000;")
			//- 		.card-panel.grey.lighten-5.z-depth-1
			//- 			.row.valign-wrapper(style="text-align: center; margin-bottom: 0")
			//- 				h2(style="font-size: 18px; width: 100%; margin-top: 0;") Ítalo
			//- 				img.responsive-img(src='../images/.jpg', alt='' width="150" height="150" style="margin: 0 auto;")
			//- 				div(style="margin-top: 10px; width: 100%; line-height: 20px; font-size: 16px;")
			//- 					p Programador 
			//- 					p Engenharia da Computação - INATEl
			//- 				.redeSocial
			//- 					a(href="https://www.facebook.com/", target="blank")
			//- 						img(src='../images/facebook.png' width="50")
			//- 					a(href="https://www.instagram.com/", target="blank")
			//- 						img(src='../images/insta.png' width="35")
			//- .row 
			//- 	.col.s12.m8.offset-m2.l6.offset-l3(style="color: #000;")
			//- 		.card-panel.grey.lighten-5.z-depth-1
			//- 			.row.valign-wrapper(style="text-align: center; margin-bottom: 0")
			//- 				h2(style="font-size: 18px; width: 100%; margin-top: 0;") Ítalo
			//- 				img.responsive-img(src='../images/.jpg', alt='' width="150" height="150" style="margin: 0 auto;")
			//- 				div(style="margin-top: 10px; width: 100%; line-height: 20px; font-size: 16px;")
			//- 					p Programador 
			//- 					p Engenharia da Computação - INATEl
			//- 				.redeSocial
			//- 					a(href="https://www.facebook.com/", target="blank")
			//- 						img(src='../images/facebook.png' width="50")
			//- 					a(href="https://www.instagram.com/", target="blank")
			//- 						img(src='../images/insta.png' width="35")

		br

	script.
		$(document).ready(function(){
			$('.sidenav').sidenav();
		});