extends layout

block content
    body.equipe.devCode
        .bgTopper(style="background: url(../../images/locais/"+local.filename+") no-repeat; background-size: 100%; width: 100%; height: 250px;")
        .container
            h3 #{local.titulo}
            p #{local.descricao}
            span(style="font-size: 15px;") Você obteve #{local.pontos} pontos neste local
    script.
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });